.is-hidden { 
	opacity: 0; 
	transition: 0.6s; 
	transform: scale(0); 
	pointer-events: none; /* Do not allow clicking on the element. */
} 


.image-0 { 
	opacity: 1; /* Make it visible */
	transition: 0.6s; 
	transform: scale(1); /* Bring it back to normal */
	pointer-events: auto; /* Make it clickable again */
} 